################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MassTransitDemo/bin/Debug/net8.0
/MassTransitDemo/obj
/Sample.Components/bin/Debug/net8.0
/Sample.Components/obj
/Sample.Contracts/bin/Debug/net8.0
/Sample.Contracts/obj
/Sample.Components/bin/Release/net8.0
/Sample.Contracts/bin/Release/net8.0
/Sample.Service/bin
/Sample.Service/obj
/Rabbit.Details/bin/Debug/net8.0
/Rabbit.Details/obj
